<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="guardianSettings" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<guardianSettings configSource="guardian.settings"/>
</configuration>